*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
hr {
  margin: 0;
  padding: 0;
}

@import "./components/header";
// @import "./components/about";
// @import "./components/projects";
@import "./components/newPosts";
@import "./components/searchPost";

html {
  scroll-behavior: smooth;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

section {
  padding: 50px 0;
}
