@import "./variable";
@import "./mixins";

.header {
  background: linear-gradient(to right, $purple, $purple-dark);
  padding: 1rem;
  box-shadow: 0 4px 10px $shadow-light;
  top: 0;
  z-index: 1000;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-logo img {
      filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.1));
    }

    &-nav {
      a {
        margin-left: 1.5rem;
        text-decoration: none;
        color: #f8f0ff;
        font-weight: 500;
        position: relative;
        transition: all 0.3s ease;

        &:hover {
          color: $white;
        }

        &::after {
          content: '';
          position: absolute;
          width: 0%;
          height: 2px;
          bottom: -3px;
          left: 0;
          background-color: $white;
          transition: 0.3s;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }
}


